<!DOCTYPE html>
<html>
  <head>
    <title>第六届WCG比王争霸赛(投票活动)</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
  </head>

  <body data-spy="scroll" data-target=".navbar-fixed-top">
    <%= yield %>
  </body>

  <%= javascript_include_tag 'app' %>
</html>
